<!DOCTYPE html>
<html>
  <head>
    <title>Proj</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= form_tag('posts/search_index', :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
  <%if notice %>  <%= notice %>
  <% end %>
  <% if alert %>  <%= alert %>
  <% end %>
    <%= yield %>
  </body>
</html>
